<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Copyright" content="https://cargobr.com">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <title>CARGOBR - Centenas de transportadoras em um só lugar</title>
        <style type="text/css">
            body{
                margin:0px;
                padding:0px;
            }
        </style>
    </head>
<body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;">
        <tbody>
            <tr>
               <td style="padding-left:5px; padding-right:5px; background-color:#e9e9e9;">
                    {% block header %}
                        <table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="border-collapse:collapse; border-spacing:0; ">
                            <tbody>
                                <tr>
                                    <td bgcolor="#046099" align="left" width="319">
                                        <h3 style="font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#fff; padding-left: 30px; font-weight: bold; padding-top: 10px;">
                                            {% block slogan %}
                                                <a href="https://cargobr.com/" style="text-decoration: none;font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#fff; font-weight: bold">
                                                    CENTENAS <br/> DE TRANSPORTADORAS <br/> EM
                                                    <label style="font-family:Arial, Helvetica, sans-serif; color: #4dbeff">UM SÓ LUGAR</label>
                                                </a>
                                            {% endblock %}
                                        </h3>
                                    </td>
                                    <td bgcolor="#046099" align="right">
                                        {% block logo %}
                                            <a href="https://cargobr.com/" style="text-decoration: none;">
                                                <img src="https://cargobr.com/static/portal/img/emails/logo-cargobr.png"/>
                                            </a>
                                        {% endblock %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {% endblock %}
               </td>
            </tr>
            <tr>
                <td style="padding-right: 5px; padding-left: 5px; background-color: #e9e9e9;">
                    {% block message %}
                        m
                    {% endblock %}
                    {% block footer %}
                        <table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#f4f4f4" align="center" style="border-collapse:collapse; text-align:left; border-spacing:0; max-width:100%;">
                            <tbody>
                                <tr>
                                    <td width="65%" valign="top">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse; border-spacing:0;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-top:25px; padding-left:30px; padding-right:15px; padding-bottom:25px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:15pt; color:#777777;">
                                                        <span style="line-height:20pt; display:inline-block;">
                                                            <img width="18" height="12" border="0" style="vertical-align:-1px;" src="https://cargobr.com/static/portal/img/emails/website.png">
                                                            {% block link-site-footer %}
                                                                <a href="https://cargobr.com" style="text-decoration:none; color:#3270B1;">cargobr.com</a>
                                                            {% endblock %}
                                                        </span>
                                                        <br>
                                                        <span style="line-height:20pt; display:inline-block;">
                                                            <img width="17" height="8" border="0" src="https://cargobr.com/static/portal/img/emails/envelope.png">
                                                            <a href="mailto:contato@cargobr.com" style="text-decoration:none; color:#3270B1;">contato@cargobr.com</a>
                                                        </span>
                                                        <br>
                                                        <span style="line-height:20pt; display:inline-block;">
                                                            <img width="15" height="10" border="0" src="https://cargobr.com/static/portal/img/emails/phone.png">
                                                            <span style="color:#3270B1;">(11) 2507-4936 / (11) 2507-1582 </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="35%" valign="bottom">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse; border-spacing:0; min-width:210px;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h5 style="color: #777777;font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align: center; padding: 0; margin: 0;">
                                                            Siga a CARGOBR
                                                        </h5>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top:15px; padding-left:15px; padding-right:30px; padding-bottom:25px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:15pt; color:#777777; text-align:right;">
                                                        <a href="https://www.facebook.com/Cargobr" style="text-decoration: none">
                                                                <img vspace="0" hspace="0" border="0" src="https://cargobr.com/static/portal/img/emails/facebook.png">
                                                        </a>
                                                        <a href="https://twitter.com/cargobr" style="text-decoration: none">
                                                            <img vspace="0" hspace="0" border="0" src="https://cargobr.com/static/portal/img/emails/twitter.png">
                                                        </a>
                                                        <a href="https://plus.google.com/118169495217842013463/posts" style="text-decoration: none">
                                                            <img vspace="0" hspace="0" border="0" src="https://cargobr.com/static/portal/img/emails/plus.png" style="border: 0">
                                                        </a>
                                                        <a href="http://www.linkedin.com/company/cargobr?trk=prof-exp-company-name" style="text-decoration: none">
                                                            <img vspace="0" hspace="0" border="0" src="https://cargobr.com/static/portal/img/emails/linkedin.png" style="border: 0">
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {% endblock %}
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

